.modal__input{
    display: grid;
    grid-template-columns: 1fr;

    margin: 1vw auto;
    padding: .5vw;
}

.modal__input label {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;

    color: #5F5F6E;
    line-height: 20px;
}

.modal__input input {
    height: 43px;

    padding-left: 10px;

    font-size: 14px;

    background: #DDE1E8;
    border-radius: 15px;

    border: none;

    outline: none;
}

.modal__input span {
    font-size: 14px;
    font-weight: bold;

    color: #f01f30;
}

.input__invalid label {
    color: #f01f30;
}

.modal__error {
    height: 20px;
    padding: 10px 0px;
}