.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*display: none;*/

    width: 18.5vw;
    height: 25vw;

    margin: auto;

    background: #b9d6f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 1;

    z-index: 8;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .7vw;

    border-bottom: 1px solid #ccc;
}

.modal__head ul {
    min-height: 2vw;
    margin: 0;
    padding: 0;

    list-style: none;
}

.modal__head ul:nth-child(1) {
    margin-right: .5vw;
}

.modal__head ul li {
    display: inline-block;
}

.modal__head ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;

    text-decoration: none;
    color: #223046;
}

.modal__head i {
    font-size: 1vw;
}