.modal {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    width: 18.5vw;
    height: 25vw;

    margin: auto;

    background: #FFFFFF;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
    border-radius: 32px;

    transform: translate(0%, 0%);
    z-index: 8;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;

    padding: 20px 25px;
}

.modal__head ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.modal__head ul:nth-child(1) {
    margin-right: .5vw;
}

.modal__head ul li {
    display: inline-block;

    padding: 10px 12px;

    font-size: 14px;

    box-sizing: border-box;
}

.modal__head ul li:nth-child(2) {
    margin-left: 15px;
}

.modal__head ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    text-decoration: none;
    color: #223046;
}

.modal__head i {
    font-size: 1vw;

    cursor: pointer;
}

.modal__show {
    display: block;
}