@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.navbar ul {
    display: flex;
    align-items: center;

    list-style: none;
}

.navbar ul li {
    margin-right: 40px;

    list-style: none;
}

.navbar ul li:last-of-type {
    margin-right: 0px;
}

.navbar ul li a {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 700;

    text-decoration: none;
    color: #282B31;
}

.navbar ul li a img {
    width: 18px;
    height: 18px;

    margin-bottom: 1px;
    margin-right: 10px;
}

.navbar ul li a,
.navbar ul li a img {
    opacity: 0.6;

    transition: .4s ease;
}

.navbar ul li a:hover,
.navbar ul li a:hover img {
    opacity: 1;
}