@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.header {
    padding: 14px 0px;

    background: #fff;
    border-bottom: 2px solid #E0E0EC;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo__svg {
    display: block;
}

.logo__svg img {
    height: 30px;
    width: 30px;

    background: #4447E2;
    border-radius: 100px;
}

.logo h2 {
    margin-left: 10px;
    
    font-family: 'Lato', sans-serif;
    font-size: 18px;

    color: #282B31;
    cursor: pointer;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person i {
    font-size: 18px;

    color: #282B31;
    cursor: pointer;
}

.person__text {
    display: inline-block;

    margin-left: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;

    cursor: pointer;
}